<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1.1", {packages:["bar"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['meses', 'Ventas', 'Visitas'],
          ['Enero', 100, 40],
          ['Febrero', 117, 46],
          ['Marzo', 66, 112],
          ['Abril', 103, 54],
          ['Mayo', 103, 54],
          ['Junio', 130, 54],
          ['Julio', 130, 40],
          ['Agosto', 30, 54],
          ['Septiembre', 100, 54],
          ['Octubre', 100, 40],
          ['Noviembre', 10, 54],
          ['Dic', 130, 40]

        ]);

        var options = {
          chart: {
            title: 'Ventas',
            
          }
        };

        var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
  <h1>Bienvenido <%= @nombre%></h1>
    <div id="columnchart_material" style="width: 900px; height: 500px;"></div>

  </body>
</html>