<h1>Editar empleado</h1>

<%= render 'form' %>

<%= link_to 'Ver', @empleado %> |
<%= link_to 'Regresar', empleados_path %>
<%= link_to 'Cambiar contraseña', edit_user_path(User.where('email' => @empleado.email)[0])%>
